@model IEnumerable<web.Models.Watchlist>

@{
    ViewData["Title"] = "Index";
}

<h1>My Watchlist</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
        <tr>
            <td class="email_prikaz">
                
                @Html.DisplayFor(modelItem => item.OwnerId.Email);
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    
    let td_list = document.getElementsByClassName("email_prikaz");
        console.log(td_list)
    for (let index = 0; index < td_list.length; index++) {
        td_list[index].innerHTML =  td_list[index].innerHTML.substring(0,td_list[index].innerHTML.indexOf( String.fromCharCode(64) ));
    }

</script>