@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1 style="text-align: center; font-family: 'Arial', sans-serif; color: #4CAF50; margin-bottom: 20px;">
        🌟 Dobrodošli na vaš kripto pregledovalnik 🌟 
    </h1>
    <table data-show-multi-sort class="table table-striped striped-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name : Symbol</th>
                <th>Price (USD)</th>
                <th>Supply</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var crypto in Model)
            {
                <tr>
                    <td>@crypto.Rank</td>
                    <td>@crypto.Symbol (@crypto.Name)</td>
                    <td>$@{ //dolar se spremeni po potrebi iz nastavitev
                            //popravi vejice na 1000ice
                            string priceUsd = crypto.PriceUsd;
                            string formattedPrice = "Invalid Price";

                            if (!string.IsNullOrWhiteSpace(priceUsd) && priceUsd.Contains("."))
                            {
                                int dotIndex = priceUsd.IndexOf(".");
                                formattedPrice = priceUsd.Substring(0, dotIndex + 3); // Include up to 2 decimals
                            }

                             @formattedPrice
                        }
                    </td>
                    <td>
                        @{
                            string supply = crypto.Supply;
                            string formattedSupply = "Invalid Supply";

                            if (!string.IsNullOrWhiteSpace(supply) && supply.Contains("."))
                            {
                                int dotIndex = supply.IndexOf(".");
                                formattedSupply = supply.Substring(0, dotIndex); // po potrebi
                            }

                            @formattedSupply
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
