html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: monospace;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}


.striped-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 14px;
}

.striped-table th,
.striped-table td {
  padding: 10px;
  text-align: left;
  text-align: center;
}

.striped-table th {
  background-color: #2e5eaa;
  color: white;
}

td {
  font-family: monospace;
}

td>span {
  opacity: 0.75;
}

.up {
  color: #98d831 !important;
}

.down {
  color: #f03a47 !important;
}

.dropdown {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.options-list {
  max-width: 300px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.options-list.active {
  display: block;
}

.option {
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
}

.option:hover {
  background: #f0f0f0;
}

#watchlist-asset-adder {
  background-color: #258cfb;
  color: white;
  border-radius: 20px;
  width: 128px;
  height: auto;
  padding: 5px;
  margin-left: 25px;
}

.portfolio-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-add-button {
  background-color: #258cfb;
  border-radius: 20px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-add-button-link {
  color: white;
  font-weight: 700;
}

.portfolio-add-button-link:link {
  text-decoration: none;
}

.portfolio-add-button-link:visited {
  text-decoration: none;
}

.portfolio-add-button-link:hover {
  text-decoration: none;
}

.portfolio-add-button-link:active {
  text-decoration: none;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}