html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: monospace;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

#mainpage-table>tbody>tr>td,
#watchlists-table>tbody>tr>td,
#watchlist-table>tbody>tr>td,
#transactions-table>tbody>tr>td,
#overview-table>tbody>tr>td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dark-theme>tbody>tr>td {
  color: #FBDBE6;
}

.light-theme>tbody>tr>td {
  color: #3f3f3f;
}

.striped-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 14px;
}

.striped-table th,
.striped-table td {
  padding: 10px;
  text-align: right;
}

.mainpage-table-name {
  text-align: left !important;
}

.mainpage-table-change {
  text-align: center !important;
}

.dark-theme>tbody>tr>td,
.dark-theme>thead>tr>th {
  background-color: #282828 !important;
}

.light-theme>tbody>tr>td,
.light-theme>thead>tr>th {
  background-color: white !important;
}

.dark-theme>thead>tr>th {
  border-top: 1px solid #dee2e6 !important;
}

.dark-theme>tbody>tr>td {
  border-top: 1px solid #dee2e6 !important;
}

.light-theme>thead>tr>th {
  border-top: 1px solid #dee2e6 !important;
}

.striped-table th {
  color: #e5699d;
  font-weight: bolder;
}

td {
  font-family: monospace;
}

td>span {
  opacity: 0.75;
}

.up {
  color: #98d831 !important;
}

.down {
  color: #f03a47 !important;
}

.dropdown {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.options-list {
  max-width: 300px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.options-list.active {
  display: block;
}

.option {
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  color: #d82f83;
  font-weight: bold;
}

.option:hover {
  background: #f0f0f0;
}

#watchlist-asset-adder {
  background-color: #258cfb;
  color: white;
  border-radius: 20px;
  width: 128px;
  height: auto;
  padding: 5px;
  margin-left: 25px;
}

.portfolio-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-add-button {
  background-color: #258cfb;
  border-radius: 20px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-add-button-link {
  color: white;
  font-weight: 700;
}

.portfolio-add-button-link:link {
  text-decoration: none;
}

.portfolio-add-button-link:visited {
  text-decoration: none;
}

.portfolio-add-button-link:hover {
  text-decoration: none;
}

.portfolio-add-button-link:active {
  text-decoration: none;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #282828;
  color: #f5acc6;
}

#nastavitve_save_button,
#login-submit,
#registerSubmit,
#create_transaction_submit,
#watchlist-asset-adder,
.portfolio-add-button,
#portfolio_create_button {
  background-color: #df4f90;
  color: white;
}

#nastavitve_save_button:hover,
#login-submit:hover,
#registerSubmit:hover,
#create_transaction_submit:hover,
#watchlist-asset-adder:hover,
.portfolio-add-button:hover,
#portfolio_create_button:hover {
  color: #3f3f3f;
  background-color: #e5699d;
}

#navbar.light-mode,
#partial_footer.light-mode,
#partial_footer.light-mode>div {
  background-color: white;
  color: black;
}

#navbar.dark-mode,
#partial_footer.dark-mode,
#partial_footer.dark-mode>div {
  background-color: #3f3f3f;
  color: #f5acc6;
}

.nav-link2 {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link2 {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
}

.nav-link2.light-mode {
  color: #24181c;
  font-weight: 700;
}

.nav-link2.dark-mode {
  color: #f5acc6;
  font-weight: 700;
}

.navbar_title.light-mode {}

#navbar_title.dark-mode {
  color: #e5699d !important;
  font-weight: 700;
}

:root {
  --light: #e5699d;
  --dark: #3f3f3f;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.toggle-switch {
  position: relative;
  width: 200px;
}

#switcher_label {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

#switcher_input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked~.slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked~.slider::before {
  transform: translateX(95px);
  background-color: var(--dark);
  box-shadow: none;
}

#forgot-password,
#resend-confirmation,
#register-a-new-user,
#create_transaction_back_to_portfolio,
.details_link,
#watchlist_back_to_list {
  color: #e5699d;
}

label+input {
  margin-top: 5px;
}

#watchlist_back_to_list:link,
#watchlist_back_to_list:visited {
  text-decoration: none;
}

#watchlist_back_to_list:hover,
#watchlist_back_to_list:active {
  text-decoration: underline;
}

#watchlist_dropdown {
  width: inherit;
}

.portfolio-holdings-switcher.active,
.portfolio-transaction-switcher.active {
  color: #d82f83;
  border-bottom: 2px solid #df4f90;
}

.portfolio-holdings-switcher:hover,
.portfolio-transaction-switcher:hover {
  color: #d82f83;
  cursor: pointer;
}

.portfolio-networth {
  color: #df4f90;
  display: flex;
}

/* #myChart {
  margin-right: 25%;
} */

#canvas_a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#yesterday_change {
  font-size: 14px;
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}